* {
    margin: 0;
    font-family: 'Roboto';
}

html, body {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
}

p {
    color: #757575;
    font-size: 14px;
}

/* -------------Header---------- */

/* --------Logo---------- */

header {
    width: 100%;
    background-color: #FFFFFF;
    float: left;
    height: 80px;
    font-size: 14px;
}

.logo {
    float: left;
    height: 80px;
}

.logo p {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    float: left;
    margin: 24px 0 24px 215px;
    letter-spacing: 0.03em;
}

.logo span {
    color: #2196F3;
    font-family: 'Raleway';
}

a .logo-active:hover {
    color: brown;
}

/* ----------Navigation----------- */

.navigation {
    float: left;
    margin: 32px 0 32px 93px;
}

.navigation_studio {
    float: left;
}

.navigation_portfolio {
    float: left;
}

.navigation_contact {
    float: left;
}

.navigation a {
    Width: 281px;
    text-decoration: none;
    color: #212121;
    margin: 0 25px;
}

.navigation .contact a {
    margin-right: 0;
}

.navigation a:hover {
    color: #2196F3;
}

/* -----------Contact-info--------- */

.contact-info {
    float: left;
}

.contact-info_mail {
    float: left;
    padding-right: 50px;
    text-decoration: none;
    color: #757575;
    margin: 32px 0 32px 344px;
}

.contact-info_tel {
    float: left;
    text-decoration: none;
    color: #757575;
    margin: 32px 0 32px 0;
}

.contact-info a:hover {
    color: #2196F3;
}

/* --------------main---------------- */

.main {
    width: 100%;
    height: 100%;
}

/* --------------catalog------------ */

.catalog {
    margin: 0 215px 94px 215px;
    float: left;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
}

/* ------catalog-filters------ */

.catalog-filters {
    float: left;
    width: 100%;
    font-size: 16px;
    margin: 94px 0 0 297px;
}

.catalog-filters a {
    text-decoration: none;
    padding: 10px 22px;
    margin-right: 8px;
    background-color: #F5F4FA;
    color: #212121;
}

.catalog-filters a:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* ------catalog-item------ */

.catalog_item {
    float: left;
    margin: 50px 30px 0 0;
    width: 370px;
    height: 404px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.catalog_item p {
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: #212121;
    width: 322px;
    margin: 20px 0 0 24px;
    letter-spacing: 0.06em;
}

.catalog_item p:last-child{
    margin-top: 4px;
    float: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    width: 322px;
    letter-spacing: 0.03em;
}


.catalog_item a .catalog_item_notebook  {
    float: left;
    background-image: url(../images/one.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a:hover .catalog_item_notebook-hover {
    float: left;
    background-image: url(../images/hover\ overlay.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a .catalog_item_poster {
    float: left;
    background-image: url(../images/two.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a .catalog_item_restourant {
    float: left;
    background-image: url(../images/three.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a .catalog_item_prime {
    float: left;
    background-image: url(../images/four.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a .catalog_item_boxes {
    float: left;
    background-image: url(../images/five.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a .catalog_item_inspiration {
    float: left;
    background-image: url(../images/six.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a .catalog_item_book {
    float: left;
    background-image: url(../images/seven.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a .catalog_item_lab {
    float: left;
    background-image: url(../images/eight.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

.catalog_item a .catalog_item_growing {
    float: left;
    background-image: url(../images/nine.svg);
    background-repeat: repeat;
    width: 370px;
    height: 294px;
}

/* -----------footer------------ */
footer {
    float: left;
    width: 100%;
    height: 252px;
    background-color: #2F303A;
}

/* -----footer_main-info-------- */

.footer_main-info {
    float: left;
    width: 231px;
    height: 252px;
    margin-left: 215px;
}

footer .logo {
    width: 100%;
    height: auto;
}

footer .logo p {
    float: left;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    margin: 60px 0 0 0;
    letter-spacing: 0.03em;
    height: 31px;
}

footer p {
    font-family: 'Roboto';
    float: left;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 20px;
}

.footer_contact-info {
    float: left;
    width: 100%;
    height: auto;
}

.footer_contact-info a {
    text-decoration: none;
    color: #757575;
}

footer .contact-info_mail {
    width: 100%;
    float: left;
    margin: 9px 0 0 0;
}

footer .contact-info_tel {
    float: left;
    margin: 9px 0 0 0;
}

.footer_contact-info a:hover {
    color: #2196F3;
}

/* ------------footer-social-link--------- */

.footer-social-link {
    float: left;
    height: 80px;
    width: 250px;
    margin-top: 72px;
}

.footer-social-link p {
    margin-left: 32px;
}

.footer .footer_item-social-link {
    padding: 0;
}

.footer_item-social-link {
    float: left;
    margin-top: 20px;
    padding-left: 32px;
}

.footer_item-social-link a {
    float: left;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF1A;
    border-radius: 44px;
    margin-right: 10px;
}

.footer_item-social-link a .footer_item-social-link-instagram {
    margin: 12px;
    width: 20px;
    height: 20px;
    background-image: url(../images/instagram_footer.svg);
    background-repeat: repeat;
    background-size: contain;
}

.footer_item-social-link a:hover .footer_item-social-link-instagram-hover {
    margin: -12px;
    width: 44px;
    height: 44px;
    background-image: url(../images/instagram_hover.svg);
    background-color: #2196F3;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 44px;
}

.footer_item-social-link a .footer_item-social-link-twitter {
    margin: 12px;
    width: 20px;
    height: 20px;
    background-image: url(../images/twitter_footer.svg);
    background-repeat: repeat;
}

.footer_item-social-link a:hover .footer_item-social-link-twitter-hover {
    margin: -12px;
    width: 44px;
    height: 44px;
    background-image: url(../images/twitter_hover.svg);
    background-color: #2196F3;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 44px;
}

.footer_item-social-link a .footer_item-social-link-facebook {
    margin: 12px;
    width: 20px;
    height: 20px;
    background-image: url(../images/facebook_footer.svg);
    background-repeat: repeat;
}

.footer_item-social-link a:hover .footer_item-social-link-facebook-hover {
    margin: -12px;
    width: 44px;
    height: 44px;
    background-image: url(../images/facebook_hover.svg);
    background-color: #2196F3;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 44px;
}

.footer_item-social-link a .footer_item-social-link-linkedin {
    margin: 12px;
    width: 20px;
    height: 20px;
    background-image: url(../images/linkedin_footer.svg);
    background-repeat: repeat;
}

.footer_item-social-link a:hover .footer_item-social-link-linkedin-hover {
    margin: -12px;
    width: 44px;
    height: 44px;
    background-image: url(../images/linkedin_hover.svg);
    background-color: #2196F3;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 44px;
}


/* ----------team_item-social-skils----------- */

.team_item-social-link {
    float: left;
    margin-top: 28px;
    width: 270px;
    padding-left: 32px;
}

.footer_item-social-link a {
    float: left;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF1A;
    border-radius: 44px;
    margin-right: 10px;
}

.team_item-social-link a .team_item-social-link-instagram {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../images/instagram_footer.svg);
    background-repeat: repeat;
}

.team_item-social-link a:hover .team_item-social-link-instagram-hover {
    margin: -12px;
    width: 44px;
    height: 44px;
    background-image: url(../images/instagram_hover.svg);
    background-color: #2196F3;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 44px;
}

.team_item-social-link a .team_item-social-link-twitter {
    float: left;
    margin-left: 37px;
    width: 20px;
    height: 20px;
    background-image: url(../images/twitter_footer.svg);
    background-repeat: repeat;
}

.team_item-social-link a:hover .team_item-social-link-twitter-hover {
    margin: -12px;
    width: 44px;
    height: 44px;
    background-image: url(../images/twitter_hover.svg);
    background-color: #2196F3;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 44px;
}

.team_item-social-link a .team_item-social-link-facebook {
    float: left;
    margin-left: 37px;
    width: 20px;
    height: 20px;
    background-image: url(../images/facebook_footer.svg);
    background-repeat: repeat;
}

.team_item-social-link a:hover .team_item-social-link-facebook-hover {
    margin: -12px;
    width: 44px;
    height: 44px;
    background-image: url(../images/facebook_hover.svg);
    background-color: #2196F3;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 44px;
}

.team_item-social-link a .team_item-social-link-linkedin {
    float: left;
    margin-left: 37px;
    width: 20px;
    height: 20px;
    background-image: url(../images/linkedin_footer.svg);
    background-repeat: repeat;
}

.team_item-social-link a:hover .team_item-social-link-linkedin-hover {
    margin: -12px;
    width: 44px;
    height: 44px;
    background-image: url(../images/linkedin_hover.svg);
    background-color: #2196F3;
    background-size: contain;
    background-repeat: repeat;
    border-radius: 44px;
}