* {
    margin: 0;
    font-family: 'Roboto';
}

html, body {
    height: auto;
    width: 100%;
    background-color: #F5F4FA;
}

h1 {
    margin: 200px 0 0 452px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.1em;
    width: 696px;
}

h2 {
    font-size: 36px;
    margin-top: 94px;
} 

p {
    color: #757575;
    font-size: 14px;
} 

/* -------------Header---------- */

/* --------Logo---------- */

header {
    width: 100%;
    background-color: #FFFFFF;
    float: left;
    height: 80px;
    font-size: 14px;
}

.logo {
    float: left;
    height: 80px;
}

.logo p {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    float: left;
    margin: 24px 0 24px 215px;
    letter-spacing: 0.03em;
}

.logo span {
    color: #2196F3;
    font-family: 'Raleway';
}

.logo p:hover {
    color: #2196F3;
}

/* ----------Navigation----------- */

.navigation {
    float: left;
    margin: 32px 0 32px 93px;
}

.navigation_studio {
    float: left;
}

.navigation_portfolio {
    float: left;
}

.navigation_contact {
    float: left;
}

.navigation a {
    Width: 281px;
    text-decoration: none;
    color: #212121;
    margin: 0 25px;
}

.navigation_studio a {
    margin-left: 0;
}

.navigation_contact a {
    margin-right: 0;
}

.navigation a:hover {
    color: #2196F3;
}

/* -----------Contact-info--------- */

.contact_info {
    float: right;
    margin: 0 auto;
    padding: 32px 0;
    width: 34%;
}

.contact_info a {
    float: left;
    text-decoration: none;
    color: #757575;
}

.contact-icon-letter {
    float: left;
    padding-right: 10px;
}

.contact_info a:first-child {
    margin-right: 30px;
}

.contact-icon-tel {
    float: left;
    padding-right: 10px;
}

.contact_info a:hover {
    color: #2196F3;
}

.contact_info a .contact-icon-letter {
    width: 16px;
    height: 12px;
    background-image: url(../images/letter.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_info a:hover .contact-icon-letter {
    background-image: url(../images/letter_hover.svg);
}

.contact_info a .contact-icon-tel {
    width: 10px;
    height: 16px;
    background-image: url(../images/smartphone.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.contact_info a:hover .contact-icon-tel {
    background-image: url(../images/smartphone_hover.svg);
}

/* --------------Main---------------- */

.main {
    width: 100%;
    height: 100%;
} 

/* ------Banner----- */

.banner {
    float: left;
    width: 100%;
    height: 600px;
    background-image: url(../images/banner.svg);
}

.banner_submit-order {
    font-size: 16px;
    width: 216px;
    height: 50px;
    background-color: #2196F3;
    margin: 30px 692px 0 692px;
    text-align: center;
    border: none;
}

.banner_submit-order a {
    text-decoration: none;
    color: #FFFFFF;
}

.banner_submit-order a:hover {
    color: black;
}

/* -----------about us-------------- */

.about-us {
    float: left;
    width: 100%;
    background-color: #FFFFFF;
}

/* -----------about us benefit-------------- */

.about-us_benefit {
    margin: 94px 0 0 215px;
    float: left;
    width: 100%;
    height: auto;
}

.about-us_benefit-item-title {
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0 10px 0;
    color: #212121;
    Font-style: Medium;
}

.about-us_benefit-item {
    width: 270px;
    float: left;
    margin-right: 30px;
    line-height: 24px;
}

.about-us_benefit-feature {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

.about-us_benefit-feature a .about-us_benefit-feature-image-satellite {
    float: left;
    margin: 25px 100px;
    width: 67px;
    height: 70px;
    background-image: url(../images/satellite\ dish.svg);
    background-size: contain;
    background-repeat: repeat;
}

.about-us_benefit-feature a .about-us_benefit-feature-image-watch {
    float: left;
    margin: 25px 100px;
    width: 65.32px;
    height: 70px;
    background-image: url(../images/watch.svg);
    background-size: contain;
    background-repeat: repeat;
}

.about-us_benefit-feature a .about-us_benefit-feature-image-diagram {
    float: left;
    margin: 25px 100px;
    width: 70px;
    height: 70px;
    background-image: url(../images/diagram.svg);
    background-size: contain;
    background-repeat: repeat;
}

.about-us_benefit-feature a .about-us_benefit-feature-image-astronaut {
    float: left;
    margin: 25px 100px;
    width: 70px;
    height: 70px;
    background-image: url(../images/astronaut.svg);
    background-size: contain;
    background-repeat: repeat;
}

/* -----------about us details------------ */

.about-us_details {
    height: auto;
    width: 100%;
    float: left;
    margin: 0 0 94px 215px;
} 

.about-us_details h2 {
    margin-left: 402px;
}

.about-us_details-item {
    float: left;
    margin: 50px 30px 0 0;
    height: 294px;
}

.about-us_details-item img {
    width: 370px;
    height: 294px;
}

/* ----------team----------- */

.team {
    margin: 0 0 94px 215px;
    float: left;
    width: 100%;
    height: auto;
    background-color: #F5F4FA;
    letter-spacing: 0.03em;
}

.team h2 {
    margin-left: 453px;
}

.team_item {
    float: left;
    margin: 50px 30px 0 0;
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
    text-align: center;
}

.team_item-leader {
    font-weight: 500;
    margin-top: 30px;
    color: #212121;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.team p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.team_item img {
    width: 270px;
    height: 260px;
}

/* ------------social-link------------ */

.social-link {
    margin: 16px 44px;
    height: 44px;
}

.social-wrapper {
    float: left;
    width: 44px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    padding-top: 12px;
}

.social-wrapper:hover {
    background-color: #2196F3;
}

.social-wrapper .icon {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.social-wrapper .icon.instagram {
    background-image: url(../images/icons/instagram.svg);
}

.social-wrapper:hover .icon.instagram {
    background-image: url(../images/icons/instagram_hover.svg);
}

.social-wrapper .icon.twitter {
    background-image: url(../images/icons/twitter.svg);
}

.social-wrapper:hover .icon.twitter {
    background-image: url(../images/icons/twitter_hover.svg);
}

.social-wrapper .icon.facebook {
    background-image: url(../images/icons/facebook.svg);
}

.social-wrapper:hover .icon.facebook {
    background-image: url(../images/icons/facebook_hover.svg);
}

.social-wrapper .icon.linkedin {
    background-image: url(../images/icons/linkedin.svg);
}

.social-wrapper:hover .icon.linkedin {
    background-image: url(../images/icons/linkedin_hover.svg);
}

/* ----------client_details------------ */

.clients_details {
    float: left;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}

.clients_details h2 {
    margin-left: 653px;
}

.clients_details-company {
    margin: 50px 0 0 215px;
}

.clients_details-company-logo {
    margin-right: 30px;
    float: left;
    width: 168px;
    height: 90px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    margin-bottom: 94px;
}

.clients_details-company-logo:hover {
    border: 1px solid #2196F3;
}

.clients_details-company a .clients_details-company-logo-YA_CO {
    margin: 16px 32px;
    width: 106px;
    height: 60px;
    background-image: url(../images/YA\ &\ CO.svg);
    background-repeat: repeat;
}

.clients_details-company a:hover .clients_details-company-logo-YA_CO-hover {
    width: 106px;
    height: 60px;
    background-image: url(../images/YA\ &\ CO_hover.svg);
    background-size: contain;
    background-repeat: repeat;
}

.clients_details-company a .clients_details-company-logo-tagline {
    margin: 16px 32px;
    width: 106px;
    height: 60px;
    background-image: url(../images/tagline.svg);
    background-repeat: repeat;
}

.clients_details-company a:hover .clients_details-company-logo-tagline-hover {
    width: 106px;
    height: 60px;
    background-image: url(../images/tagline_hover.svg);
    background-size: contain;
    background-repeat: repeat;
}

.clients_details-company a .clients_details-company-logo-third {
    margin: 16px 32px;
    width: 106px;
    height: 60px;
    background-image: url(../images/company.svg);
    background-repeat: repeat;
}

.clients_details-company a:hover .clients_details-company-logo-third-hover {
    width: 106px;
    height: 60px;
    background-image: url(../images/company_hover.svg);
    background-size: contain;
    background-repeat: repeat;
}

.clients_details-company a .clients_details-company-logo-foster {
    margin: 16px 32px;
    width: 106px;
    height: 60px;
    background-image: url(../images/FOSTER\ PETERS.svg);
    background-repeat: repeat;
}

.clients_details-company a:hover .clients_details-company-logo-foster-hover {
    width: 106px;
    height: 60px;
    background-image: url(../images/FOSTER\ PETERS_hover.svg);
    background-size: contain;
    background-repeat: repeat;
}

.clients_details-company a .clients_details-company-logo-brand {
    margin: 16px 32px;
    width: 106px;
    height: 60px;
    background-image: url(../images/brand.svg);
    background-repeat: repeat;
}

.clients_details-company a:hover .clients_details-company-logo-brand-hover {
    width: 106px;
    height: 60px;
    background-image: url(../images/brand_hover.svg);
    background-size: contain;
    background-repeat: repeat;
}

.clients_details-company a .clients_details-company-logo-six {
    margin: 16px 32px;
    width: 106px;
    height: 60px;
    background-image: url(../images/cube.svg);
    background-repeat: repeat;
}

.clients_details-company a:hover .clients_details-company-logo-six-hover {
    width: 106px;
    height: 60px;
    background-image: url(../images/cube_hover.svg);
    background-size: contain;
    background-repeat: repeat;
}

/* -----------footer------------ */

footer {
    float: left;
    width: 100%;
    height: 252px;
    background-color: #2F303A;;
}

/* -----footer_main-info-------- */

.footer_main-info {
    float: left;
    width: 231px;
    height: 252px;
    margin-left: 215px;
}

footer .logo {
    width: 100%;
    height: auto;
}

footer .logo p {
    float: left;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    margin: 60px 0 0 0;
    letter-spacing: 0.03em;
    height: 31px;
}

footer p {
    font-family: 'Roboto';
    float: left;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 20px;
}

.footer_contact-info {
    float: left;
    width: 100%;
    height: auto;
}

.footer_contact-info a {
    text-decoration: none;
    color: #757575;
}

footer .contact-info_mail {
    width: 100%;
    float: left;
    margin: 9px 0 0 0;
}

footer .contact-info_tel {
        float: left;
        margin: 9px 0 0 0;
}

.footer_contact-info a:hover {
    color: #2196F3;
}

/* ------------footer-social-link--------- */

.footer-social-link {
    float: left;
    height: 80px;
    margin: 72px 0 0 70px;
}

.footer-social-link p {
   float: none;
   margin: 0;
}

.footer.social-wrapper .icon {
    width: 20px;
    height: 20px;
}
 
.footer-social-link__wrapper {
    margin-top: 20px;
    height: 44px;
}

.footer.social-wrapper  {
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.footer.social-wrapper:hover {
    background-color: #2196F3;
}


.footer.social-wrapper .icon.instagram {
    background-image: url(../images/icons/instagram_hover.svg);
}

.footer.social-wrapper .icon.twitter {
    background-image: url(../images/icons/twitter_hover.svg);
}

.footer.social-wrapper .icon.facebook {
    background-image: url(../images/icons/facebook_hover.svg);
}

.footer.social-wrapper .icon.linkedin {
    background-image: url(../images/icons/linkedin_hover.svg);
}
