/* -------------Header---------- */

/* --------Logo---------- */

header {
    background-color: #FFFFFF;
    height: 80px;
    font-size: 14px;
}

.logo {
    float: left;
    margin-top: 24px;
    margin-right: 93px;
}

.logo p {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    float: right;
    margin: 0 auto;
    letter-spacing: 0.03em;
}

.logo span {
    color: #2196F3;
    font-family: 'Raleway';
}

.logo p:hover {
    color: #2196F3;
}

/* ----------Navigation----------- */

.navigation {
    float: left;
    margin-top: 32px;
}

.navigation__item {
    Width: 281px;
    color: #212121;
    margin: 0 25px;
}

.navigation__item.home, .navigation__item.portfolio {
    padding-bottom: 28px;
    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
    color: #2196F3;
}

a.navigation__item:hover {
    color: #2196F3;
}

/* -----------Contact-info--------- */

.contact {
    float: right;
    margin-top: 32px;
}

.contact a {
    float: left;
    text-decoration: none;
    color: #757575;
    padding-right: 10px;
}

.contact__info {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
}

.contact a:first-child {
    margin-right: 30px;
}

.contact a:hover {
    color: #2196F3;
}

.contact a .contact__info {
    background-size: contain;
    background-repeat: no-repeat;
}

.contact a .contact__info.letter {
    width: 16px;
    height: 12px;
}

.contact a .contact__info.tel {
    width: 10px;
    height: 16px;
}

.contact__info.letter {
    background-image: url(../images/icons/letter.svg);
}

.contact a:hover .contact__info.letter {
    background-image: url(../images/icons/letter_hover.svg);
}

.contact__info.tel {
    background-image: url(../images/icons/smartphone.svg);
}

.contact a:hover .contact__info.tel {
    background-image: url(../images/icons/smartphone_hover.svg);
}

/* ------------social-link------------ */

.social-link {
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
}

.social-wrapper {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    padding-top: 12px;
}

.team .social-link {
    margin-top: 18px;
}

.social-wrapper:hover {
    background-color: #2196F3;
}

.social-wrapper .icon {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.social-wrapper .icon.instagram {
    background-image: url(../images/icons/social-wrapper/instagram.svg);
}

.social-wrapper:hover .icon.instagram {
    background-image: url(../images/icons/social-wrapper/instagram_hover.svg);
}

.social-wrapper .icon.twitter {
    background-image: url(../images/icons/social-wrapper/twitter.svg);
}

.social-wrapper:hover .icon.twitter {
    background-image: url(../images/icons/social-wrapper/twitter_hover.svg);
}

.social-wrapper .icon.facebook {
    background-image: url(../images/icons/social-wrapper/facebook.svg);
}

.social-wrapper:hover .icon.facebook {
    background-image: url(../images/icons/social-wrapper/facebook_hover.svg);
}

.social-wrapper .icon.linkedin {
    background-image: url(../images/icons/social-wrapper/linkedin.svg);
}

.social-wrapper:hover .icon.linkedin {
    background-image: url(../images/icons/social-wrapper/linkedin_hover.svg);
}

/* -----------footer------------ */

footer {
    height: 252px;
    background-color: #2F303A;
    padding: 0 215px;
}

/* -----footer_main-info-------- */

.footer.container {
    display: flex;
}

.footer__main-info {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 231px;
}

.footer__main-info .logo {
    margin-top: 0;
}

footer .logo p {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    height: 31px;
}

footer p {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 20px;
}

footer .contact-info {
    margin-top: 9px;
    float: none;
}

footer .contact-info a {
    text-decoration: none;
    color: #757575;
}

.footer-contact a:hover {
    color: #2196F3;
}

/* ------------footer-social-link--------- */

.footer__social-link {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

footer .social-link {
    margin: 20px 0;
    width: 206px;
}

.footer__social-link p {
    margin-top: 72px;
}

footer .social-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
}

footer .social-wrapper .icon.instagram {
    background-image: url(../images/icons/social-wrapper/instagram-footer.svg);
}

footer .social-wrapper .icon.twitter {
    background-image: url(../images/icons/social-wrapper/twitter-footer.svg);
}

footer .social-wrapper .icon.facebook {
    background-image: url(../images/icons/social-wrapper/facebook-footer.svg);
}

footer .social-wrapper .icon.linkedin {
    background-image: url(../images/icons/social-wrapper/linkedin-footer.svg);
}

.footer__subscription {
    margin: 83px 0 0 93px;
}

.footer__subscription p {
    color: #ffffff;
    height: 16px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}

.footer__form.container {
    display: flex;
    margin-top: 20px;
}

.footer__form input {
    padding: 15px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
    background-color: #2F303A;
    border: 1px solid #FFFFFF4D;
    outline: none;
}

.footer__form-email {
    width: 358px;
    border-radius: 4px;
    margin-right: 12px;
}

.footer__form button {
    height: 50px;
    width: 200px;
    border-radius: 4px;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.subscription__button {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    width: 110px;
}

button .footer__btn {
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/icon\ send.svg);
    background-repeat: no-repeat;
    float: right;
}
