* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

html, body {
    background-color: #FFFFFF;
}

p {
    color: #757575;
    font-size: 14px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 36px;
    margin-top: 94px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}