/* ------------Header container--------- */

header {
    border-bottom: 1px solid #ECECEC;;
}

/* --------------catalog------------ */

.catalog {
    display: flex;
    padding-top: 48px;
    letter-spacing: 0.03em;
    flex-wrap: wrap;
    padding-bottom: 62px;
    justify-content: space-between;
}

/* ------catalog-filters------ */

.catalog-filters {
    display: flex;
    margin-top: 94px;
    justify-content: center;
}

.catalog-filters a {
    padding: 10px 22px;
    margin-right: 8px;
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
}

.catalog-filters__link.all,
.catalog-filters__link.web, 
.catalog-filters__link.apps,
.catalog-filters__link.design,
.catalog-filters__link.marketing {
    background-color: #2196F3;
    color: #FFFFFF;
}

.catalog-filters a:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* ------catalog-item------ */

.navigation__item.home,
.navigation__item.portfolio {
    padding-bottom: 28px;
    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
    color: #2196F3;
}

.catalog-item {
    margin-bottom: 32px;
    height: 404px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.catalog-item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.catalog-item__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: #212121;
    margin: 20px 0 4px 24px;
    letter-spacing: 0.06em;
}

.catalog-item__service {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    letter-spacing: 0.03em;
    margin-left:24px;
}

.catalog-item__goods {
    width: 370px;
    height: 294px; 
    background-repeat: no-repeat;
}

.catalog-item a .catalog-item__goods.notebook  {
    background-image: url(../images/wellpapers/catalog-item/one.svg);
}

.goods-hover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
    padding: 24px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.goods-hover__text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    padding: 63px 24px;
}

.goods-hover:hover {
    opacity: 1;
    background-color: rgba(33, 150, 243, 0.7);
}

.catalog-item a .catalog-item__goods.poster {
    background-image: url(../images/wellpapers/catalog-item/two.svg);
}

.catalog-item a .catalog-item__goods.restourant {
    background-image: url(../images/wellpapers/catalog-item/three.svg);
}

.catalog-item a .catalog-item__goods.prime {
    background-image: url(../images/wellpapers/catalog-item/four.svg);
}

.catalog-item a .catalog-item__goods.boxes {
    background-image: url(../images/wellpapers/catalog-item/five.svg);
}

.catalog-item a .catalog-item__goods.inspiration {
    background-image: url(../images/wellpapers/catalog-item/six.svg);
}

.catalog-item a .catalog-item__goods.book {
    background-image: url(../images/wellpapers/catalog-item/seven.svg);
}

.catalog-item a .catalog-item__goods.lab {
    background-image: url(../images/wellpapers/catalog-item/eight.svg);
}

.catalog-item a .catalog-item__goods.growing {
    background-image: url(../images/wellpapers/catalog-item/nine.svg);
}