/* ------------Header container--------- */

header {
    border-bottom: 1px solid #ECECEC;;
}

/* --------------catalog------------ */

.catalog {
    display: flex;
    padding-top: 48px;
    letter-spacing: 0.03em;
    flex-wrap: wrap;
    padding-bottom: 62px;
    justify-content: space-between;
}

/* ------catalog-filters------ */

.catalog-filters {
    display: flex;
    margin-top: 94px;
    justify-content: center;
}

.catalog-filters a {
    text-decoration: none;
    padding: 10px 22px;
    margin-right: 8px;
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
}

.catalog-filters a:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

/* ------catalog-item------ */

.catalog-item {
    margin-bottom: 32px;
    width: 370px;
    height: 404px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.catalog-item__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: #212121;
    margin: 20px 0 4px 24px;
    letter-spacing: 0.06em;
}

.catalog-item p:last-child{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    letter-spacing: 0.03em;
    margin-left:24px;
}

.catalog-item__goods {
    width: 370px;
    height: 294px; 
    background-repeat: no-repeat;
}

.catalog-item a .catalog-item__goods.notebook  {
    background-image: url(../images/one.svg);
}

.catalog-item a:hover .catalog-item__goods.notebook {
    background-image: url(../images/hover\ overlay.svg);
}

.catalog-item a .catalog-item__goods.poster {
    background-image: url(../images/two.svg);
}

.catalog-item a .catalog-item__goods.restourant {
    background-image: url(../images/three.svg);
}

.catalog-item a .catalog-item__goods.prime {
    background-image: url(../images/four.svg);
}

.catalog-item a .catalog-item__goods.boxes {
    background-image: url(../images/five.svg);
}

.catalog-item a .catalog-item__goods.inspiration {
    background-image: url(../images/six.svg);
}

.catalog-item a .catalog-item__goods.book {
    background-image: url(../images/seven.svg);
}

.catalog-item a .catalog-item__goods.lab {
    background-image: url(../images/eight.svg);
}

.catalog-item a .catalog-item__goods.growing {
    background-image: url(../images/nine.svg);
}