/* ------Banner----- */

.banner {
    height: 600px;
    background-image: url(../images/wellpapers/banner/background\ img.svg);
}

.banner__title {
    padding-top: 200px;
}

/* -----------button form-------------- */

.banner__button.container {
    display: flex;
    background-color: #2196F3;
    color: white;
    padding: 16px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.banner__form-container {
    max-width: 528px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__form-container {
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: white;
}

.banner__open-btn h4 {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.banner__open-btn p::before {
    width: 16px;
    height: 15px;
}

.banner__open-btn label[for=checkbox] span {
    color: #2196F3;
    text-decoration-line: underline;
}
.banner__open-btn label[type=checkbox] {
    margin: 25px 52px;
}

.banner__open-btn label {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.banner__open-btn input,
.banner__open-btn textarea {
    border-radius: 4px;
    width: 448px;
    padding: 12.5px;
    margin: 4px 0 10px 0;
    border: 1px solid #21212133;
}

.banner__open-btn input[type=checkbox] {
    width: 16px;
    height: 15px;
}

.banner__open-btn input:hover,
.banner__open-btn textarea:hover {
    border: 1px solid #2196F3;
}

.banner__open-btn .comment {
    height: 120px;
}

.banner__open-btn input[type=text]:focus,
.banner__open-btn input[type=email]:focus,
.banner__open-btn textarea {
    outline: none;
}

.banner__open-btn .open-btn__icon {
    padding: 12px 42px;
    height: 40px;
}

textarea {
    width: 448px;
    height: 120px;
    resize: none;
}

.banner__open-btn .open-btn__icon.name {
    background: url(../images/icons/button/persone.svg) no-repeat 15px 14px;
}

.banner__open-btn .open-btn__icon.name:hover {
    background: url(../images/icons/button/persone_hover.svg) no-repeat 15px 14px;
}

.banner__open-btn .open-btn__icon.tel {
    background: url(../images/icons/button/telephone.svg) no-repeat 13px 14px;
}

.banner__open-btn .open-btn__icon.tel:hover {
    background: url(../images/icons/button/telephone_hover.svg) no-repeat 13px 14px;
}

.banner__open-btn .open-btn__icon.email {
    background: url(../images/icons/button/mail.svg) no-repeat 13.5px 14px;
}

.banner__open-btn .open-btn__icon.email:hover {
    background: url(../images/icons/button/mail_hover.svg) no-repeat 13.5px 14px;
}

.banner__open-btn button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.banner__open-btn button.btn {
    margin: 30px 124px;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
}

.banner__open-btn button.cancel {
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/button/cross.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #0000001A;
    background-color: #ffffff;
    background-position: center;
    position: absolute;
    margin: -32px 8px 0 450px;
}

.banner__open-btn button.cancel:hover {
    background-image: url(../images/icons/button/cross_hover.svg)
}

/* -----------about-us__benefit-------------- */

main .about-us {
    margin: 94px 0;
}

.about-us__benefit {
    display: flex;
    justify-content: space-between;
}

.about-us__benefit-title {
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0 10px 0;
    color: #212121;
    Font-style: Medium;
}

.about-us__benefit-item {
    width: 270px;
    line-height: 24px;
}

.about-us__benefit-feature {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

.about-us__benefit-feature a .about-us__benefit-image {
    float: left;
    margin: 25px 100px;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.satellite {
    background-image: url(../images/about-us/satellite\ dish.svg);
}

.watch {
    background-image: url(../images/about-us/watch.svg);
}

.diagram {
    background-image: url(../images/about-us/diagram.svg);
}

.astronaut {
    background-image: url(../images/about-us/astronaut.svg);
}

/* -----------about-us__details------------ */

.about-us__details-image {
    display: flex;
    justify-content: space-between;
}

.about-us__details-item {
    margin-top: 50px;
}

.about-us__details.title {
    display: flex;
    justify-content: center;
}

.about-us__details-item img {
    width: 370px;
    height: 294px;
}

/* ----------team----------- */


.team {
    background-color: #F5F4FA;
    letter-spacing: 0.03em;
}

.team__title {
    padding-top: 94px;
    display: flex;
    justify-content: center;
}

.team-item {
    display: flex;
    justify-content: space-between;
}

.team-item__member {
    margin: 50px 0 94px;
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
}

.team-item__member:last-child {
    margin-right: 0;
}

.team-item__leader {
    font-weight: 500;
    margin-top: 30px;
    color: #212121;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.team p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.team-item img {
    width: 270px;
    height: 260px;
}

/* ----------client_details------------ */

.clients-details {
    background-color: #FFFFFF;
}

.clients-details__title {
    display: flex;
    margin-bottom: 50px; 
    justify-content: center;  
}

.clients-details__company {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.clients-details__image {
    float: left;
    width: 168px;
    height: 90px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    margin-right: 30px;
}

.clients-details__image:hover {
    border: 1px solid #2196F3;
}

.clients-details__image .logo {
    width: 106px;
    height: 60px;
    margin: 16px 32px;
}

.clients-details__image .logo.YA_CO {
    background-image: url(../images/clients/YA\ &\ CO.svg);
}

.clients-details__image:hover .logo.YA_CO {
    background-image: url(../images/clients/YA\ &\ CO_hover.svg);
}

.clients-details__image .logo.tagline {
    background-image: url(../images/clients/tagline.svg);
}

.clients-details__image:hover .logo.tagline {
    background-image: url(../images/clients/tagline_hover.svg);
}

.clients-details__image .logo.third {
    background-image: url(../images/clients/company.svg);
}

.clients-details__image:hover .logo.third {
    background-image: url(../images/clients/company_hover.svg);
}

.clients-details__image .logo.foster {
    background-image: url(../images/clients/FOSTER\ PETERS.svg);
}

.clients-details__image:hover .logo.foster {
    background-image: url(../images/clients/FOSTER\ PETERS_hover.svg);
}

.clients-details__image .logo.brand {
    background-image: url(../images/clients/brand.svg);
}

.clients-details__image:hover .logo.brand {
    background-image: url(../images/clients/brand_hover.svg);
}

.clients-details__image .logo.cube {
    background-image: url(../images/clients/cube.svg);
}

.clients-details__image:hover .logo.cube {
    background-image: url(../images/clients/cube_hover.svg);
}