/* ------------Banner----------------- */

.banner {
    height: 600px;
    background-image: url(../images/wellpapers/banner/background\ img.svg);
}

@media (min-width: 340px) and (max-width: 767px) {
    .banner {
        height: 400px;
    }
}

.banner__title {
    padding-top: 200px;
}

@media (min-width: 340px) and (max-width: 767px) {
    .banner__title {
        padding-top: 118px;
    }
}

/* -----------button form-------------- */

.banner__button.container {
    display: flex;
    background-color: #2196F3;
    color: white;
    padding: 16px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (min-width: 340px) and (max-width: 767px) {
    .banner__button.container {
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 10px 24px;
    }
}

.banner__form_black {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    position: fixed;
    display: none;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.banner__form-container {
    position: fixed;
    background-color: white;
    max-width: 528px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 40px;
}

@media (min-width: 340px) and (max-width: 659px) {
    .banner__form-container {
        max-width: 450px;
        max-height: 609px;
    }
}

.banner__open-btn h4 {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.banner__open-btn p::before {
    width: 16px;
    height: 15px;
}

.banner__open-btn label[for=checkbox] span {
    color: #2196F3;
    text-decoration-line: underline;
}
.banner__open-btn label[type=checkbox] {
    margin: 25px 52px;
}

.banner__open-btn label {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.banner__open-btn input,
.banner__open-btn textarea {
    border-radius: 4px;
    width: 448px;
    padding: 12.5px;
    margin: 4px 0 10px 0;
    border: 1px solid #21212133;
}

@media (min-width: 340px) and (max-width: 659px) {
    .banner__open-btn input,
    .banner__open-btn textarea {
        width: 370px;
    }
}

.banner__open-btn input[type=checkbox] {
    width: 16px;
    height: 15px;
}

.banner__open-btn input:hover,
.banner__open-btn textarea:hover {
    border: 1px solid #2196F3;
}

.banner__open-btn .comment {
    height: 120px;
}

.banner__open-btn input[type=text]:focus,
.banner__open-btn input[type=email]:focus,
.banner__open-btn input[type=tel]:focus,
.banner__open-btn textarea {
    outline: none;
}

.banner__open-btn .open-btn__icon {
    padding: 12px 42px;
    height: 40px;
}

textarea {
    width: 448px;
    height: 120px;
    resize: none;
}

.banner__open-btn .open-btn__icon.name {
    background: url(../images/icons/button/persone.svg) no-repeat 15px 14px;
}

.banner__open-btn .open-btn__icon.name:hover {
    background: url(../images/icons/button/persone_hover.svg) no-repeat 15px 14px;
}

.banner__open-btn .open-btn__icon.tel {
    background: url(../images/icons/button/telephone.svg) no-repeat 13px 14px;
}

.banner__open-btn .open-btn__icon.tel:hover {
    background: url(../images/icons/button/telephone_hover.svg) no-repeat 13px 14px;
}

.banner__open-btn .open-btn__icon.email {
    background: url(../images/icons/button/mail.svg) no-repeat 13.5px 14px;
}

.banner__open-btn .open-btn__icon.email:hover {
    background: url(../images/icons/button/mail_hover.svg) no-repeat 13.5px 14px;
}

.banner__open-btn button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.banner__open-btn button.btn {
    margin: 30px 124px;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
}

@media (min-width: 340px) and (max-width: 659px) {
    .banner__open-btn button.btn {
        margin: 31px 85px;
    }
}

.cancel {
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/button/cross.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #0000001A;
    background-color: #ffffff;
    background-position: center;
    position: absolute;
    margin: -32px 8px 0 450px;
}

@media (min-width: 340px) and (max-width: 659px) {
    .cancel {
        margin-left: 372px;
    }
}

.cancel:hover {
    background-image: url(../images/icons/button/cross_hover.svg)
}

/* -----------about-us__benefit-------------- */

main .about-us {
    margin: 94px 0;
}

.about-us__benefit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 340px) and (max-width: 767px) {
    .about-us__benefit {
        justify-content: space-evenly;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .about-us__benefit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        grid-template-areas:
        "item1 item2"
        "item3 item4";
        justify-items: center;
    }
    .about-us__benefit-item.first {
        grid-area: item1;
    }
    .about-us__benefit-item.second {
        grid-area: item2;
    }
    .about-us__benefit-item.third {
        grid-area: item3;
    }
    .about-us__benefit-item.four {
        grid-area: item4;
    }
}

.about-us__benefit-title {
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0 10px;
    color: #212121;
    Font-style: Medium;
}

@media (min-width: 340px) and (max-width: 767px) {
    .about-us__benefit-title {
        text-align: center;
    }
}

.about-us__benefit-item {
    width: 270px;
    line-height: 24px;
}

@media (min-width: 340px) and (max-width: 599px) {
    .about-us__benefit-item {
        width: 100%;
    }
}
@media (min-width: 767px) and (max-width: 1199px) {
    .about-us__benefit-item {
        width: 354px;
    }
}

@media (min-width: 340px) and (max-width: 659px) {
    .about-us__benefit-item p {
        font-size: 14px;
        font-weight: 400;
    }
}

.about-us__benefit-feature {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

@media (min-width: 340px) and (max-width: 659px) {
    .about-us__benefit-feature {
        width: 100%;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .about-us__benefit-feature {
        width: 354px;
        padding-top: 25px;
    }
}

.about-us__benefit-feature a .about-us__benefit-image {
    float: left;
    margin: 25px 100px;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .about-us__benefit-feature a .about-us__benefit-image {
        float: none;
        margin: 0 auto;
}
}

.satellite {
    background-image: url(../images/about-us/satellite\ dish.svg);
}

.watch {
    background-image: url(../images/about-us/watch.svg);
}

.diagram {
    background-image: url(../images/about-us/diagram.svg);
}

.astronaut {
    background-image: url(../images/about-us/astronaut.svg);
}

/* -----------about-us__details------------ */

.about-us__details-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 340px) and (max-width: 767px) {
    .about-us__details-image {
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .about-us__details-image {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-items: center;
    }
}

.about-us__details-item {
    margin-top: 50px;
}

@media (min-width: 340px) and (max-width: 659px) {
    .about-us__details-item {
        margin-top: 10px;
    }
}

.about-us__details.title {
    display: flex;
    justify-content: center;
}

@media (min-width: 340px) and (max-width: 659px) {
    .about-us__details.title {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 33px;
    }
}

.about-us__details-item img {
    width: 370px;
    height: 294px;
}

/* ----------team----------- */

.team {
    background-color: #F5F4FA;
}

.team__title {
    padding-top: 94px;
    display: flex;
    justify-content: center;
}

@media (min-width: 340px) and (max-width: 1199px) {
    .team__title {
        padding-top: 60px;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 33px;
    }
}

.team-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 340px) and (max-width: 767px) {
    .team-item {
        justify-content: space-around;
        align-items: center;
        padding-bottom: 60px;
        flex-direction: column;
    }
}

@media (min-width: 620px) and (max-width: 767px) {
    .team-item {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .team-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding-bottom: 60px;
    }
}

.team-item__member {
    margin: 50px 0 94px;
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
}

@media (min-width: 340px) and (max-width: 767px) {
    .team-item__member {
        margin: 30px 0 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .team-item__member {
        margin: 30px 0 0;
    }
}

.team-item__member:last-child {
    margin-right: 0;
}

.team-item__leader {
    font-weight: 500;
    margin-top: 30px;
    color: #212121;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.team p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.team-item img {
    width: 270px;
    height: 260px;
}

/* ----------client_details------------ */

.clients-details {
    background-color: #FFFFFF;
}

.clients-details__title {
    display: flex;
    margin-bottom: 50px; 
    justify-content: center;  
}

.clients-details__company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .clients-details__company {
        margin-bottom: 79px;
    }
}

@media (min-width: 340px) and (max-width: 767px) {
    .clients-details__company {
        justify-content: space-evenly;
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .clients-details__company {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        grid-row-gap: 15px;
    }
}

.clients-details__image {
    float: left;
    width: 168px;
    height: 90px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

@media (min-width: 340px) and (max-width: 1199px) {
    .clients-details__image {
        width: 210px;
        margin: 15px;
    }
}

.clients-details__image:hover {
    border: 1px solid #2196F3;
}

.clients-details__image .logo {
    width: 106px;
    height: 60px;
    margin: 14px 32px;
}

@media (min-width: 340px) and (max-width: 659px) {
    .clients-details__image .logo {
        margin: 14px auto;
    }
}

@media (min-width: 660px) and (max-width: 1199px) {
    .clients-details__image .logo {
        margin: 14px 51px;
    }
}

.clients-details__image .logo.YA_CO {
    background-image: url(../images/clients/YA\ &\ CO.svg);
}

.clients-details__image:hover .logo.YA_CO {
    background-image: url(../images/clients/YA\ &\ CO_hover.svg);
}

.clients-details__image .logo.tagline {
    background-image: url(../images/clients/tagline.svg);
}

.clients-details__image:hover .logo.tagline {
    background-image: url(../images/clients/tagline_hover.svg);
}

.clients-details__image .logo.third {
    background-image: url(../images/clients/company.svg);
}

.clients-details__image:hover .logo.third {
    background-image: url(../images/clients/company_hover.svg);
}

.clients-details__image .logo.foster {
    background-image: url(../images/clients/FOSTER\ PETERS.svg);
}

.clients-details__image:hover .logo.foster {
    background-image: url(../images/clients/FOSTER\ PETERS_hover.svg);
}

.clients-details__image .logo.brand {
    background-image: url(../images/clients/brand.svg);
}

.clients-details__image:hover .logo.brand {
    background-image: url(../images/clients/brand_hover.svg);
}

.clients-details__image .logo.cube {
    background-image: url(../images/clients/cube.svg);
}

.clients-details__image:hover .logo.cube {
    background-image: url(../images/clients/cube_hover.svg);
}
