
/* ------Banner----- */

.banner {
    height: 600px;
    background-image: url(../images/banner/banner.svg);
}

.banner__title {
    padding-top: 200px;
}

.banner__submit-order.container {
    font-size: 16px;
    height: 50px;
    width: 216px;
    margin-top: 30px;
    text-align: center;
    background-color: #2196F3;
    text-decoration: none;
    margin-bottom: 200px;
}

.banner__submit-order a {
    text-decoration: none;
}

.banner__submit-order p {
    padding: 17px;
    color: #FFFFFF;
}

.banner__submit-order p:hover {
    color: black;
}

/* -----------button form-------------- */

.open-button.container {
    display: flex;
    background-color: #2196F3;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
}

.form-popup.container {
    max-width: 528px;
    border-radius: 4px;
    position: relative;
    margin: -226px auto;
}

.form-container {
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: white;
}

.form-popup.container h4 {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    font-weight: 700;
}

.form-popup.container p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}

.form-popup.container p::before {
    width: 16px;
    height: 15px;
}

.form-popup.container label[for=checkbox] span {
    color: #2196F3;
    text-decoration-line: underline;
}

.form-popup.container label[type=checkbox] {
    margin: 25px 52px;
}

.form-container label {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-container input,
.form-container textarea {
    border-radius: 4px;
    width: 448px;
    padding: 12.5px;
    margin: 4px 0 10px 0;
    border: 1px solid #21212133;
}

.form-container input[type=checkbox] {
    width: 16px;
    height: 15px;
}

.form-container input:hover,
.form-container textarea:hover {
    border: 1px solid #2196F3;
}

.form-container .comment {
    height: 120px;
}

.form-container input[type=text]:focus,
.form-container input[type=email]:focus,
.form-container textarea {
    outline: none;
}


.form-container .button-icon {
    padding: 12px 42px;
    height: 40px;
}

textarea {
    width: 448px;
    height: 120px;
    resize: none;
}

.form-container .button-icon.name {
    background: url(../images/button/persone.svg) no-repeat 15px 14px;
}

.form-container .button-icon.name:hover {
    background: url(../images/button/persone_hover.svg) no-repeat 15px 14px;
}

.form-container .button-icon.tel {
    background: url(../images/button/telephone.svg) no-repeat 13px 14px;
}

.form-container .button-icon.tel:hover {
    background: url(../images/button/telephone_hover.svg) no-repeat 13px 14px;
}

.form-container .button-icon.email {
    background: url(../images/button/mail.svg) no-repeat 13.5px 14px;
}

.form-container .button-icon.email:hover {
    background: url(../images/button/mail_hover.svg) no-repeat 13.5px 14px;
}

.form-container button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.form-container button.btn {
    margin: 30px 124px;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
}

.form-container button.cancel {
    width: 30px;
    height: 30px;
    background-image: url(../images/button/exit.svg);
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #0000001A;
    background-color: #ffffff;
    background-position: center;
    position: absolute;
    margin: -32px 8px 0 450px;
}

.form-container button.cancel:hover {
    background-image: url(../images/button/exit_hover.svg)
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/* -----------about us benefit-------------- */

main .about-us {
    margin: 94px 0;
}

.about-us_benefit {
    display: flex;
    justify-content: space-between;
}

.about-us_benefit-item-title {
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0 10px 0;
    color: #212121;
    Font-style: Medium;
}

.about-us_benefit-item {
    width: 270px;
    line-height: 24px;
}

.about-us_benefit-feature {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

.about-us_benefit-feature a .about-us_benefit-feature-image {
    float: left;
    margin: 25px 100px;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.satellite {
    background-image: url(../images/about-us/satellite\ dish.svg);
}

.watch {
    background-image: url(../images/about-us/watch.svg);
}

.diagram {
    background-image: url(../images/about-us/diagram.svg);
}

.astronaut {
    background-image: url(../images/about-us/astronaut.svg);
}

/* -----------about us details------------ */

.about-us__details_image {
    display: flex;
    justify-content: space-between;
}

.about-us_details-item {
    margin-top: 50px;
}

.about-us_details.title {
    display: flex;
    justify-content: center;
}

.about-us_details-item img {
    width: 370px;
    height: 294px;
}

/* ----------team----------- */


.team {
    background-color: #F5F4FA;
    letter-spacing: 0.03em;
}

.team.title {
    padding-top: 94px;
    display: flex;
    justify-content: center;
}

.team-item {
    display: flex;
    justify-content: space-between;
}

.team-item-member {
    margin: 50px 0 94px;
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
}

.team-item-member:last-child {
    margin-right: 0;
}

.team-item-leader {
    font-weight: 500;
    margin-top: 30px;
    color: #212121;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.team p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.team-item img {
    width: 270px;
    height: 260px;
}

/* ----------client_details------------ */

.clients_details {
    background-color: #FFFFFF;
}

.clients_details.title {
    display: flex;
    margin-bottom: 50px; 
    justify-content: center;  
}

.clients_details-company {
    display: flex;
    justify-content: space-between;
}

.clients_details-company {
    height: 92px;
    width: fit-content;
    margin: 0 auto 94px;
}

.clients_details-company-image {
    float: left;
    width: 168px;
    height: 90px;
    cursor: pointer;
    border-radius: 4px;
     border: 1px solid #AFB1B8;
    margin-right: 30px;
}

.clients_details-company-image:last-child {
    margin-right: 0;
}

.clients_details-company-image:hover {
    border: 1px solid #2196F3;
}

.clients_details-company-image .logo {
    width: 106px;
    height: 60px;
    margin: 16px 32px;
}

.clients_details-company-image .logo.YA_CO {
    background-image: url(../images/clients/YA\ &\ CO.svg);
}

.clients_details-company-image:hover .logo.YA_CO {
    background-image: url(../images/clients/YA\ &\ CO_hover.svg);
}

.clients_details-company-image .logo.tagline {
    background-image: url(../images/clients/tagline.svg);
}

.clients_details-company-image:hover .logo.tagline {
    background-image: url(../images/clients/tagline_hover.svg);
}

.clients_details-company-image .logo.third {
    background-image: url(../images/clients/company.svg);
}

.clients_details-company-image:hover .logo.third {
    background-image: url(../images/clients/company_hover.svg);
}

.clients_details-company-image .logo.foster {
    background-image: url(../images/clients/FOSTER\ PETERS.svg);
}

.clients_details-company-image:hover .logo.foster {
    background-image: url(../images/clients/FOSTER\ PETERS_hover.svg);
}

.clients_details-company-image .logo.brand {
    background-image: url(../images/clients/brand.svg);
}

.clients_details-company-image:hover .logo.brand {
    background-image: url(../images/clients/brand_hover.svg);
}

.clients_details-company-image .logo.cube {
    background-image: url(../images/clients/cube.svg);
}

.clients_details-company-image:hover .logo.cube {
    background-image: url(../images/clients/cube_hover.svg);
}